/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Variables */

:root {
    --principal: white;
    --secondary: black;
    --font-primary: 'Roboto', sans-serif;
    --text-lg: 2em;
    --text-md: 1.6em;
    --text-md-sm: 1em;
    --text-small: 0.5em;

}

/* Reset */

*,
*::before,   
*::after    {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Globals */

html {
    font-size: 62.5%;
    font-family: var(--font-primary);
}

body {
    min-height: 100vh;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--principal);
    display: inline-block;
}

/* Helpers */

.flex-row {
    display: flex;

}

.flex-column {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

/* Header */

header {
    background-color: var(--secondary);
}

header .navbar {
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    position: static;
}

header .logo {
    padding: 1rem 1rem;
    flex-basis: 30%;
}

header .menu {
    flex-basis: 40%;
    justify-content: space-between;
}

header .menu__item {
    border: 2px solid var(--secondary);
    transition: border-color .4s ease-in-out;
}

.menu .menu__item:hover {
    border-color: var(--principal);
}

.menu .menu__item .menu__link {
    font-size: var(--text-md);
    padding: 1rem;
}




/* Main */

.main { 
    
    min-height: 80vh;
    font-family: var(--font-primary);
}

section {
    padding-top: 2em;
}

article .text__description {
    text-align: left;
    font-size: var(--text-md);
}
.title {
    text-transform: uppercase;  
    font-weight: 900;
    font-size: 62px;   
}

.title__all {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 62px;
}

.flex-row .text__description {
    font-size: var(--text-md);
    text-align: left;
    padding: 2rem 2rem 0 0;
    align-items: center;
    line-height: 3rem; 
}

div .iframe {
    width: 100%;
    }

.flex-row .iframe .iframe__video {
    padding: 2rem 2rem 0 0;
}

#grid__tour {
    display: grid;
    grid-template-areas: 
    "Lugar1 Fecha1 Comprar1"
    "Lugar2 Fecha2 Comprar2"
    "Lugar3 Fecha3 Comprar3"
    "Lugar4 Fecha4 Comprar4";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    font-size: var(--text-md);
    margin-top: 2em;
    gap: 2em; 
    justify-items: center;
    line-height: 1.8em;
}

ul .lugar1 {
    grid-area: Lugar1;
}

ul .fecha1 {
    grid-area: Fecha1;
}

ul .comprar1 {
    grid-area: Comprar1;
}

ul .lugar2 {
    grid-area: Lugar2;
}

ul .fecha2 {
    grid-area: Fecha2;
}

ul .comprar2 {
    grid-area: Comprar2;
    background-color: var(--secondary);
    color: var(--principal);
    border-radius: 0.6em;
    width: 50%;
    text-align: center;
}

ul .lugar3 {
    grid-area: Lugar3;
}

ul .fecha3 {
    grid-area: Fecha3;
}

ul .comprar3 {
    grid-area: Comprar3;
    background-color: var(--secondary);
    color: var(--principal);
    border-radius: 0.6em;
    width: 50%;
    text-align: center;
}

ul .lugar4 {
    grid-area: Lugar4;
}

ul .fecha4 {
    grid-area: Fecha4;
}

ul .comprar4 {
    grid-area: Comprar4;
    background-color: var(--secondary);
    color: var(--principal);
    border-radius: 0.6em;
    width: 50%;
    text-align: center;
}

a .comprar4:hover {
    background-color: #616161;
}

a .comprar {
    transition: background-color 3s ease-in-out;
}

#grid__music {
    display: grid;
    grid-template-areas: "iframe1 iframe2 iframe3 iframe4";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}


.flex__gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 1.5em;
}

div picture img {
        width: 100%;
        height: 20em;
        
    }




.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    font-size: var(--text-md);
    background-color: #cfcfcfc5;
    border-radius: 1em;
    line-height: 2em;
    max-width: 18em;
    margin-left: 25em;

}




/* Footer */

footer .pieDePagina .flex-row {
    background-color: var(--principal);
    justify-content: space-between;
}

footer p {
    text-align: center;
}




/* Responsive */

@media screen and  (max-width: 720px) {
    .title {   
        text-align: center;
        font-size: 4em;
    }

    .title__all {
        font-size: 4em;
        text-align: center;
    }

    #text__responsive {
        
        text-align: center;
    }

    .column-responsive {
        display: flex;
        flex-direction: column;
        padding: 3em;
        align-items: center;
        justify-content: center;
    }

    #form__responsive {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 10em;
    }


}

@media screen and (max-width: 480px) {
  
    .menu {
        font-size: 0.7em;
    }

    .logo {
        width: 100%;
    }

    .title {
        font-size: 3em;
        text-align: center;
    }

    .title__all {
        font-size: 3em;
        text-align: center  ;
    }

    #text__responsive {

        text-align: center;
    }
    
    .text__description {
        font-size:var(--text-small);
        line-height: 2em;
    }

    .column-responsive {
        display: flex;
        flex-direction: column;
        padding: 2em;
    }
    
    .iframe__video {
        width: 100%;
    }

    footer {
        min-height: fit-content;
    }


    #grid__music {
        display: grid;
        grid-template-areas: 
        "iframe1 iframe2"
        "iframe3 iframe4";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 1rem;
        row-gap: 1rem;
        align-items: center;
    }

    
    #grid__tour {
        font-size: var(--text-md-sm);
        line-height: 5em;
    }

    ul li .comprar3{
        width: 60%;
    }    

    #form__responsive {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 1.8em;
    }

}



/* Animaciones */

.zoom {
    transition: transform ease-in-out 1s;
}

.zoom:hover {
    transform: scale(1.15);
}

.comprar__tickets {
    transition: transform ease-in-out .8s;

}

.comprar__tickets:hover {
    transform: scale(1.25);
}

.zoom__tickets {
    transition: transform ease-in-out 0.8s;
}

.zoom__redes {
    transition: transform ease-in-out 0.8s;
}

.zoom__redes:hover {
    transform: scale(1.25);
}

.show {
    animation: show 0.8s ease-in-out;
}

@keyframes show {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}