<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="shortcut icon" href="../img/Icon/favicon.ico" type="image/x-icon">
    <title>Entre Perros - Tour</title>
</head>
<body>
    <!-- Inicio del Header -->
    <header>
        <nav class="navbar">
            <a href="../../Index.html">
                <img id="navbar__image" src="../img/Logo.png" alt="logo de Entre Perros" width="145px">
            </a>
            <ul>
                <li class="navbar__list navbar__tour">
                    <a class="navbar__items" href="Tour.html">Tour</a>
                </li>
                <li class="navbar__list">
                    <a class="navbar__items" href="Discografía.html">Discografía</a>
                </li>
                <li class="navbar__list">
                    <a class="navbar__items" href="Galería.html">Galería</a>
                </li>
                <li class="navbar__list">
                    <a class="navbar__items" href="Contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Fin del Header -->
    <main id="main">
        <h2 class="title__all">Tour</h2>
        <section>
            <table id="table" border cellpadding="15px" cellspacing="7px">
                <tr>
                    <th>Lugar</th>
                    <th>Fecha</th>
                    <th>Comprar Ticket</th>
                </tr>
                <tr>
                    <td>Club Lucille</td>
                    <td>28/5</td>
                    <td>
                        <a class="tabla__buy" href="https://livepass.com.ar/" target="_blank">Comprar</a>
                    </td>
                </tr>
                <tr>
                    <td>The Roxy</td>
                    <td>30/7</td>
                    <td>
                        <a class="tabla__buy" href="https://livepass.com.ar/" target="_blank">Comprar</a>
                    </td>
                </tr>
                <tr>
                    <td>La Trastienda</td>
                    <td>10/10</td>
                    <td>
                        <a class="tabla__buy" href="https://livepass.com.ar/" target="_blank">Comprar</a>
                    </td>
                </tr>
            </table>
        </section>
    </main>
    <footer class="pieDePagina">
        <a class="pieDePagina__link" href="https://www.instagram.com/entreperros_/" target="_blank">
            <img class="pieDePagina__image" src="../img/Icon/instagram-logo.png" alt="Instagram" style="width: 50px;">
        </a>
        <a class="pieDePagina__link" href="https://es-la.facebook.com/EntrePerrosRock/" target="_blank">
            <img class="pieDePagina__image" src="../img/Icon/facebook-logo.png" alt="Facebook" style="width: 50px;">
        </a>
        <a class="pieDePagina__link" href="https://www.youtube.com/channel/UCUHUxVZeduurLeg3hDQViow" target="_blank">
            <img class="pieDePagina__image" src="../img/Icon/youtube-logo.png" alt="Youtube" style="width: 50px;">
        </a>
        <a class="pieDePagina__link" href="https://open.spotify.com/artist/4gyKdT8HV9uGvCTbRFA04M?si=q_hZ8-HGSDWm3PwPeySgLg" target="_blank">
           <img class="pieDePagina__image" src="../img/Icon/spotify-logo.png" alt="spotify" style="width: 50px;">
        </a>
        <section>    
            <p class="pieDePagina__derechos">Todos los derechos reservados </p>
        </section>
    </footer>
</body>
</html>