footer {
    p {
        text-align: center;
    }
    .pieDePagina {
          
        background-color: $principal;
        justify-content: space-between;
    }
}

@media screen and (max-width: 480px) {

    footer {
        min-height: fit-content;
    }
}   