/* Contacto */

main {
    font-family: $font-primary;
    min-height: 80vh;
    
    section {
        padding-top: 1em;
        @include flex-row;
    }
    .title__all {
        text-transform: uppercase;
        font-weight: 900;  
    }
    form {
        font-size: map-get($text-sizes , lg );
        background-color: $third;
        border-radius: 1.5rem;
        .form-control{
            line-height: 3rem;
        }
        .input-lg {
            line-height: 3rem;
        }
        .btn-primary {
            color: $principal;
            background-color: $secondary;
            border-color: $secondary;
            
        }
        .btn-primary:hover {
            color: $principal;
            background-color: #525252;
            border-color: $secondary    ;
            
        }
    }

}

/* Responsive */

@media screen and  (max-width: 720px) {
    

    main {    
        .title {   
            text-align: center;
            font-size: map-get($text-sizes , xlg );
            }
        section {
            padding-top: 1em;
            @include flex-row;
            justify-content: center;
        }
    }
}




