main {
    
    min-height: 80vh;
    font-family: $font-primary;
    
    .title {
        text-transform: uppercase;  
        font-weight: 900;
        font-size: 62px;
        
    }

    section {
        padding-top: 1em;
        @include flex-row;

        div .iframe {
            @include flex-col;
            
            &__video {
                padding-left: 4rem;
            
            }
        }
    }


    article {
        @include flex-col;
    
        p{
            .text__description {
                    font-size: $text-md;
                    text-align: justify;
                    line-height: 2.9rem; 
                    padding-right: 1rem;
               
            }
        }   
    }
}

/* Responsive */

@media screen and  (max-width: 720px) {
    

main {    
    .title {   
        text-align: center;
        font-size: map-get($text-sizes , xlg );
        }
    section {
        padding-top: 1em;
        @include flex-row;
        justify-content: center;
    
        div .iframe__video {
            @include flex-col;
            align-self: center;
            padding-left: 0rem;
        }
    }
}
    .menu {
        font-size: .8em;
        flex-basis: 30%;
    }

    .column-responsive {
        display: flex;
        flex-direction: column;
        align-items: center;
    }  
}
    
    

@media screen and (max-width: 480px) {
 
nav {
    .logo {
        max-width: 40%;
        flex-basis:5%;
    }
    .menu {
        font-size: 0.7em;
    }

}
main{
    .title {
        font-size: 2.5em;
        text-align: center;
    }

    .title__all {
        font-size: 2em;
        text-align: center  ;
    }
    .text__description {
        font-size: map-get($text-sizes, sm );
        line-height: 1.5em;
    }
    section {
        padding-top: 1em;
        @include flex-row;

        div .iframe__video {
            @include flex-col;
            align-self: center;
            padding-left: 0rem;
        }
    }    

}
    .menu {
        font-size: 0.7em;
    }

    #text__responsive {

        text-align: justify;
    }
    
    

    .column-responsive {
        display: flex;
        flex-direction: column;
        padding: 2em;
    }

    footer {
        min-height: fit-content;
    }


    ul li .comprar3{
        width: 60%;
    }    
}


